@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #fff;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* f8fafc */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn-active {
  background-color: #3e5cb8;
  color: white;
}

.recomendation .recomendation-image {
  background-image: url("https://images4.alphacoders.com/938/938629.jpg");
  filter: brightness(70%);
  border-radius: 10px;
  width: 100%;
  height: 270px;
  background-size: cover;
}

.ant-segmented .ant-segmented-item-selected {
  color: white;
  background-color: #3e5cb8;
  border-radius: 999px;
}
